/* You can add global styles to this file, and also import other style files */

:root {
    --primary-light: #95bef4;
    --primary-dark: #5a49ef;
    --secondary-light: #ffffffbb;
}

body {
    margin: 0;
    background: linear-gradient( -45deg, var(--primary-light), var(--primary-dark));
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: sans-serif;
}
